body {
  margin-top: 5%;
  margin-left: 20%;
}

p, h1 {
  padding-left: 10px;
}

input {
  width: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    "title title"
    "aside1 main"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}

header {
  grid-area: title;
  background: #4291ff;
}

footer {
  grid-area: footer;
  background: #4291ff;
  text-align: right;
  padding: 10px;
}

.main {
  grid-area: main;
}

.sidebar-top {
  grid-area: aside1;
}