body {
  margin-top: 5%;
  margin-left: 20%;
}

p, h1 {
  padding-left: 10px;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-areas:
    "title title"
    "aside1 main"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}

header {
  grid-area: title;
  background: #a2d1df;
}

footer {
  grid-area: footer;
  background: #a2d1df;
  text-align: right;
  padding-right: 10px;
}

.main {
  grid-area: main;
}

.sidebar-top {
  grid-area: aside1;
  background: #a2d1df;
}